html {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  body {
    background-image: linear-gradient(
      90deg,
      #1c3c6b 0%,
      #7ebffc 35%,
      #7ebffc 50%,
      #7ebffc 70%,
      #1c3c6b 100%
    );
    background-color: white;
    background-size: cover;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: white;
  }
  
  #form-heading {
    text-align: center;
    margin: 0 auto;
  }
  
  #form-heading h1 {
    margin-top: -0.1rem;
    font-size: 2.3rem;
    color: white;
    text-shadow: 1px 0.1px 20px #ffffffe1;
  }
  
  #form-heading p {
    margin-top: -1.7rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffffe1;
  }
  
  #form-body {
    margin-top: -1.5rem;
    background: #1c3c6b70;
    border-radius: 5px;
  }
  
  form {
    width: 50vw;
    max-width: 500px;
    min-width: 350px;
    margin: 0 auto;
    padding: 1% 0;
  }
  
  form h2 {
    margin-top: 1px;
    margin-bottom: 0;
  }
  
  form hr {
    width: 45%;
    margin: 0 0 5px 0;
    opacity: 45%;
  }
  
  fieldset {
    border: none;
    padding: 0.7rem 0.5rem;
    border-bottom: 1px solid rgba(226, 215, 175, 0.5);
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  select,
  textarea {
    font-size: small;
    font-style: italic;
    margin: 10px 0 0 0;
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  
  #name,
  #email,
  #number {
    display: block;
    width: 55%;
    padding-bottom: 1%;
  }
  
  #learning-details .learning-q {
    padding-top: 15px;
  }
  
  select#dropdown {
    display: block;
    background: #1c3c6b70;
    color: white;
    width: 57%;
    border: none;
    font-family: "Nunito", sans-serif;
  }
  
  #submit-button {
    border-bottom: none;
  }
  
  #submit {
    border: none;
    display: block;
    height: 20%;
    width: 85px;
    text-align: center;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    background: #1c3c6b70;
    color: white;
    font-size: 17px;
    border-radius: 10px;
  }
  
  button#submit:hover {
    background: #7ebffc;
  }
  