* {
    box-sizing: border-box;
}    

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

header {
    text-align: center;
    color:rgb(6, 40, 84)
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    box-shadow: 10px 10px 8px #888888;
}

table, th, td {
    border:2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 3px;
}

sub {
    font-size: xx-small;
    font-weight: normal;
}

#final {
    border: 3px solid rgb(61, 122, 202);
}

#final > th{
    border: none;
    font-weight: bold;
}

#final > td{
    border: none;
    font-size: 20px;
    font-weight: bold;
}

#grade {
    font-weight: bolder;
    color: rgb(170, 59, 59);
}