* {
    box-sizing: border-box;
  }
  
  html,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #7591ec;
  }
  
  #navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #07153a;
    background-size: cover;
    position: fixed;
    height: 13vh;
    width: 100vw;
    max-width: 100%;
  }
  
  #navbar #nav-logo {
    padding: 0 0.5rem 0 0.5rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: clamp(0.5rem, 10rem, 2rem);
  }
  
  #navbar #nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #nav-list li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: clamp(0.2rem, 5rem, 1.1rem);
    font-weight: bold;
  }
  
  #nav-list a {
    text-decoration: none;
    color: #ffffff;
  }
  
  #nav-list a:hover {
    text-shadow: 1px 0.1px 5px rgba(255, 255, 255, 0.541);
  }
  
  #home {
    height: 105vh;
    width: 100vw;
    max-width: 100%;
    padding-top: 4.5rem;
    background-color: #bfccf7;
  }
  
  #home #home-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    letter-spacing: 0.2rem;
    /* font-family: 'Rokkitt', serif;    */
  }
  
  #home-header h2,
  #home-header h3 {
    margin: 0;
    font-weight: 600;
  }
  
  
  #home figure {
    margin-bottom: 0;
    padding-bottom: 1.4rem;
}

  #home figure figcaption {
    font-family: 'Rokkitt', serif;
    font-size: clamp(0.1rem, 1rem, 0.7rem);
    font-weight: 600;
    color: #00000085;
  }
  
  #home figure figcaption a {
    color: rgba(0, 0, 0, 0.774);
    text-decoration: none;
  }
  
  #books {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 150vh;
    padding-top:1rem;
    background-color: #07153a;
}

  #books li {
    list-style-type: none;
  }

  #books figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #books figure figcaption{
    padding-top: 0.1rem;
    color:#b0c1f8;
    font-size: clamp(0.2rem, 1rem, 0.7rem);
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    letter-spacing: 0.5px;

}

  #books img {
    height: 40vh;
    width: 12vw;
  }

  #register {
    height: 120vh;
    background-color: #7591ec;
  }
  
  #register div,
  #login div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #register div h3,
  #login div h3 {
    text-transform: uppercase;
    font-size: clamp(1rem, 6rem, 2rem);
    text-shadow: 1px 0.5px 3px #07153abd;
  }
  
  form {
    background-color: #07153abd;
    color: rgb(255, 255, 255);
    border: 1px solid #07153ac2;
    border-radius: 13px;
    display: block;
    margin: 0 auto;
    width: 500px;
    padding: 1rem 1rem;
    font-family: 'Rokkitt', serif;
    font-weight: 500;
    font-size: clamp(0.5rem,3rem,1.2rem);
  }
  
  input {
    font-family: "Montserrat", sans-serif;
  }
  
  #personal-details label {
    display: block;
    padding-bottom: 5px;
  }
  
  #personal-details input {
    width: 150px;
  }
  
  #gender-details {
    margin-top: 5px;
  }
  
  #gender-details label {
    display: block;
    margin-bottom: -10px;
  }
  
  #gender-details ul {
    padding-left: 0;
  }
  
  #gender-details li {
    list-style-type: none;
  }
  
  #class-details {
    margin-top: -7px;
  }
  
  #class-details label {
    display: block;
    margin-bottom: -10px;
  }
  
  #class-details ul {
    padding-left: 0;
  }
  
  #class-details li {
    list-style-type: none;
  }
  
  #source-section {
    display: block;
    margin-top: -5px;
    margin-bottom: 15px;
  }
  
  #source-section select {
    font-family: "Montserrat", sans-serif;
  }
  
  #source-section option {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 600;
  }
  
  #comment-box {
    margin-top: -5px;
    margin-bottom: 5px;
  }
  
  #comment-box textarea {
    font-family: "Montserrat", sans-serif;
    color: black;
  }
  
  #submit-btn {
    background: #07153a;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    border: 1px solid #7591ec;
    border-radius: 10px;
    width: 7vw;
    height: 4vh;
    text-transform: uppercase;
  }
  
  #submit-btn:hover {
    background-size: cover;
    background-repeat: no-repeat;
    color: #07153a;
    background-color: #7591ec;
    border: 1px solid #07153a;
  }
  
  #login-header,
  #login-screen {
    display: flex;
    flex-direction: column;
    /* background: #a36e84; */
    align-items: center;
  }
  
  #login-header {
    color:#ecd4f1;
  }
  
  #login-header h1 {
    text-transform: uppercase;
  }
  
  #login-screen #yum {
    color:#ecd4f1;
  }
  
  #login-screen #login-msg {
    color: #3a071b;
  }
  
  #login {
    height: 60vh;
    width: 100vw;
    background-color: #d1bcd6;
  }
  